[submodule "Resources/views/frontend/_public/src/owl-carousel/OwlCarousel2"]
	path = Resources/views/frontend/_public/src/owl-carousel/OwlCarousel2
	url = https://github.com/OwlCarousel2/OwlCarousel2.git
[submodule "Resources/views/frontend/_public/src/parallax-js/parallax"]
	path = Resources/views/frontend/_public/src/parallax-js/parallax
	url = https://github.com/wagerfield/parallax
